mixin head(title)
    head
        meta(charset='utf-8')
        title=title

        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css")
        link(rel='stylesheet', href='/style.css')