doctype html
html(lang='en')
  include shared/head.jade
  +head(title)

  body
    include shared/navbar.jade
    +head("attendance")
    div(class="container")
      table(class="attendanceHomeTable table table-dark table-striped")
        thead  
          tr
            th(scope="col") Date
            th(scope="col") Meeting Type
            th(scope="col") Recorded By
            th(scope="col") 
            th(scope="col")
        tbody
          each attendance, i in data
            tr(scope="row")
              td #{attendance.time}
              td #{attendance.meeting}
              td #{attendance.takenBy}
              td
                a(href="/admin/attendance?token=" + attendance.token) View
              td
                a(href="/admin/attendance/delete?token=" + attendance.token) Delete

