doctype html
html(lang='en')
  include shared/head.jade
  +head(title)

  body
    include shared/navbar.jade
    +head("attendance")
    div(class="container")
      table(class="attendanceTable table table-dark table-striped")
        thead  
          tr
            th Member
            th Here
            th Excused
            th 
        tbody
          each member, i in data
            tr
              td #{member.fullname}
              td #{member.here}
              td #{member.excused}
      a(href="/admin/attendance") Back
