doctype html
html(lang='en')
  include shared/head.jade
  +head(title)
  body
    include shared/navbar.jade
    +head("")
    main
      div(class="container")
        if flash
          p(class="error")= flash
        form(action="/login?redirect=" + redirect method='post')
          div(class='form-group')
            label(for='login_token') Login Token
              input(id='login_token' type='password' name='login_token' class='form-control')
          input(type='submit', value='Log in', class='btn')